body {
    margin:0px;
    background-color: beige;
    font-family: Georgia, serif;
}

#header {
    background-color:#ebdebe;
    height:80px;
}

#head-title {
    position:absolute;
    top:0px;
    left:15px;
}

#head-health {
    display:block;
    position:absolute;
    top:5px;
    left:50%;
    transform: translateX(-50%);
}

#container {
    margin:10px;
}

#answer {
    border:none;
    border-radius: 0;
    border-bottom: 4px solid black;
    background: transparent;
    width:80px;
    font-size: 52px;
    font-family: Georgia, serif;
}

#answer:focus {
    outline:none;
}

#problem h1 {
    font-size: 52px;
    margin-bottom: 0px;
}

#problem p {
    text-align: center;
    font-size: 52px;
    font-family: Georgia, serif;
    margin-top: 0px;
}

#problem {
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

#user-container {
    display:block;
    position:absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(220, 245, 220);
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

#user-input {
    border:none;
    border-radius: 0;
    border-bottom: 4px solid black;
    background: transparent;
    font-size: 32px;
    font-family: Georgia, serif;
}

#user-input:focus {
    outline:none;
}

#opponents {
    padding:0px;
    font-size:32px;
}

#opponents li {
    margin-left:100px;
    margin-right:100px;
    list-style-type:none;
}

#opponents button {
    float:right;
    margin-right:30px;
}

hr {
    border:solid black 1px;
    margin-left:50px;
    margin-right:50px;
}

.health {
    float:right;
}

#submit {
    font-size: 32px;
    font-family: Georgia, serif;
    border:none;
    background:transparent;
    color:saddlebrown;
    transition: color 0.25s;
}

#submit:hover {
    cursor:pointer;
    color:darkgoldenrod;
}

a {
    text-decoration: none;
}

#start-header {
    text-align: center
}