{% extends "base.html" %}
{% block content %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Math Attack!</title>
</head>

<body>
    <div id = "user-container">
        
        
        <form id="user-form" method="post">
            <input id="user-input" type="text" name="username" id="username-field" placeholder="Name">
            <br>
            <br>
            <button id="submit" type="submit" id="submit-name"><i>start</i></button>
        </form>
    </div>
</body>

{% endblock %}

