{% extends "base.html" %}
{% block content %}


<body>
    <div id = "start-header">
        <h1>Welcome to Math Attack</h1>
        <p1>In this game you will fight other players by answering math questions!</p1>
        <br>
        <br>
        <p1>Create a name to a begin!</p1>
    </div>
    <div id = "user-container">
        <form id="user-form" method="post">
            <input id="user-input" type="text" name="username" id="username-field" placeholder="Name">
            <br>
            <br>
            <button id="submit" type="submit" id="submit-name"><i>start</i></button>
        </form>
    </div>
</body>

{% endblock %}

