{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center">Select an opponent to attack.</h3>
<ul id="opponents">
{% for enemy in enemies %}

    <li>{% if enemy.health == highest %}&#128081; {% endif %}{{enemy.name}} <span class="health">   &hearts;{{enemy.health}}</span>
    {% if enemy.id != id %}
        <button id="submit" onclick="
            document.getElementById('enemy').value='{{enemy.id}}';
            document.getElementById('enemy-name').value='{{enemy.name}}';
            document.getElementById('enemy-health').value='{{enemy.health}}';
            document.getElementById('choose-opponent').submit();
            "><i>fight</i></button>
    {% endif %}
    </li>
    <hr>
{% endfor %}
</ul>

<form id="choose-opponent" method="post" hidden>
    <input type="text" name="enemy" id="enemy">
    <input type="text" name="enemy-name" id="enemy-name">
    <input type="text" name="enemy-health" id="enemy-health">
</form>
{% endblock %}